.VideoProjectList--search-bar {
  display: flex;
  align-items: center;
}

.VideoProjectList--search-bar > div, .VideoProjectList--search-bar > span {
  position: relative;
  right: 24px;
}

.VideoProjectList--badge-row {
  display: flex;
  align-items: flex-start;
  margin: 8px 0;
}

.VideoProjectList--close-icon, [class*="VideoProjectList--"].badge.rounded-pill {
  cursor: pointer;
  border: 2px solid var(--bs-secondary);
}

.VideoProjectList--pill-off {
  background-color: white !important;
  color: var(--bs-secondary);
}

.VideoProjectList--header {
  text-align: justify;
}

.VideoProjectList ul {
  list-style-type: none;
}
