.App {
  text-align: center;
  margin: 20px;
  min-height: 100vh;

}

.App ul {
  padding: 0;
}

.App li {
  text-align: justify;
}

.font-bold {
  font-weight: bold;
}

.Project .Project--footer .Project--link {
  cursor: pointer;
}
